html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.about-us {
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #f1f1f1;
}

.pic {
    height: auto;
    width: 302px;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text {
    width: 540px;
}

    .text h2 {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .text h5 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
    }

.text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

td {
    padding-right: 15px;
    padding-left: 15px
}