@{
}

<section class="about-us">
    <div class="about">
        <img src="~/emman.jpg" class="pic"/>
        <div class="text">
            <h2>About Me</h2>
            <h5>Mikhail Emman De Guzman - 3ITE</h5>
            <p>Hi</p>  
        </div>
    </div>
</section>